@{
    ViewBag.Title = "Информация по кредиту";
}

<div class="container">
    <div class="row mb-5">
        <div class="col-md-12 text-center">
            <p class="fs-3 mb-5 mt-4">
                Информация по кредиту
            </p>
            <img src="~/images/credit-info-default.jpg" class="img-fluid w-50 br-15"/>
        </div>
        <div class="row row-margin">
            <div class="col-md-12">
                <p class=" text-center fs-4">
                    Тип кредита: Потребительский кредит
                </p>
                <p class="fw-bold fs-5">
                    Характеристики:
                </p>
                <p>
                    - Процентная ставка: 10% годовых.
                </p>
                <p>
                    - Сумма кредита: от 100 000 до 3 000 000 рублей.
                </p>
                <p>
                    - Срок кредита: от 6 месяцев до 5 лет.
                </p>
                <p>
                    - График погашения: ежемесячное погашение кредита, включающее основной долг и проценты.
                </p>
                <p>
                    - Онлайн заявка: возможность подать заявку на кредит через онлайн-банкинг.
                </p>
                <p>
                    - Решение по заявке: автоматизированное принятие решения по заявке.
                </p>
                <p>
                    - Возможность досрочного погашения: кредит можно погасить досрочно без штрафов.
                </p>
            </div>
        </div>
    </div>
</div>


