<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineBanking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineBanking.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid px-0">
        <header class="bg-blue-100 br-bottom-40" id="header">
            <nav class="navbar navbar-expand-lg navbar-light text-black">
                <div class="container px-4">
                    <a class="navbar-brand text-white" asp-controller="Home" asp-action="Index">Online-Banking</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <a class="nav-link active px-0 text-white" aria-current="page" asp-controller="Home" asp-action="Index">Главная страница</a>
                        <div class="ms-auto" style="margin-left:auto;">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
                                <li class="nav-item">
                                    <a class="nav-link text-black my-auto text-white" asp-controller="Credit" asp-action="GetCreditTypes">Кредиты</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-black my-auto text-white" asp-controller="Account" asp-action="GetAccountTypes">Счёт и карта</a>
                                </li>
                                <li class="nav-item">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a asp-controller="UserProfile" asp-action="GetUserProfile"><i class="far fa-user-circle fa-2x text-white mx-2" aria-hidden="true"></i></a>
                                    }
                                    else
                                    {
                                        <button class="mt-2 ms-2" style="all: unset" type="button" onclick="openModal({ url: '/Auth/Login', modalId: 'modalWindow', modalTitle:'Логин' })" data-toggle="ajax-modal" data-target="Modal">Войти</button>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="container-fluid px-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal fade" id="modalWindow" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border">
                <div class="modal-header d-flex">
                    <div class="mx-auto"><p class="modal-title fs-3"></p></div> 
                    <div class="float-end">
                        <button type="button" class="btn-close"
                                data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-grey-100 footer text-muted mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <p class="fs-3">
                        ONLINE-BANKING
                    </p>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <p class="my-2">some_email@mail.ru</p>
                    <p class="my-2 ms-2"><a href="/">+99999999999</a></p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/modal.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
